<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('../partials/head') %>
    
    <%- defineContent('style') %>
</head>
<body>
    <%- include('../partials/header') %>

    <main>
        <%- body %>
    </main>

    <%- include('../partials/footer') %>
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/auth-modal.js"></script>
    <script src="/js/auth-check.js"></script>
    <script src="/js/map.js"></script>
    
    <%- defineContent('script') %>
</body>
</html>
