<div class="lesson-row" data-id="<%= lesson.id %>">
  <div class="lesson-cell"><%= lesson.order %></div>
  <a class="lesson-cell lesson-title" href="/lessons/<%=lesson.id%>"><%= lesson.title %></a>
  <div class="lesson-cell"><%= lesson.duration ? `${lesson.duration} мин.` : 'Не указано' %></div>
  <div class="lesson-cell actions">
    <a href="/lessons/<%= lesson.id %>/edit" class="lesson-action edit">✏️</a>
    <a href="#" class="lesson-action delete" data-id="<%= lesson.id %>">🗑️</a>
  </div>
</div>
